<section id="contenedorCentral">
	<section id="contenedor1">
		<article>
			<h2>Ingresa a la red mas grande de jugadores y canchitas</h2>

      </article>
	</section>			
	<section id="contenedor2">				
	</section>			
</section>
