<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @identity_card_type.name %>
</p>


<%= link_to 'Edit', edit_identity_card_type_path(@identity_card_type) %> |
<%= link_to 'Back', identity_card_types_path %>
