<section id="contenedorBasico">
<h1>Editar Servicio Adicional</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @additional_service %> |
<%= link_to 'Regresar', additional_services_path %>
</section>