.map_container { 
  border-width: 6px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  padding: 6px auto;
  position: center;
  width: 800px;
}

.gmaps4rails_map {
  width: 800px;
  height: 400px;
}

.bing_map {
   position: center;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}
body
{

	background: #86C9EF ;
	color:white;
	font-family: Helvetica, Arial;
	font-size: 16px;
	margin:0;
}

footer
{
	float: left;
	position: fixed;
    left:0;
    bottom:0;
	width:100%;
    background-color:#999;
    height:70px;
}
form {
	width: 280px;

	padding: 0 auto;
	display: block;
}
header
{
	-moz-box-shadow: 0 40px 40px -40px #ccc;
	-webkit-box-shadow: 0 0 40px #ccc;
	background-color: #172322;
	background: -moz-linear-gradient(top, gray , #172322);
	background: -webkit-gradient(linear, 0 0,  0 100%, from(gray),  to(#172322));
	border-bottom: 20px solid #9FC54E;
	box-shadow: 0 0 40px #ccc;
	display: block; 
	height: 50px;
	margin-bottom: 50px;
	margin: 0 ;
}


h2
{
	color: white;
	padding-bottom: 5px;	
	vertical-align:baseline;
}
h3

{
	width:280px;
	margin: 0 auto;
	margin-top:20px;
	color: white;	
	vertical-align:baseline;
}
	


nav{
    /*Bordes redondeados*/
    
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    overflow:hidden;
    
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    

}
nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
      
}
nav ul li a{
   
    color:white;
    display:block;
    padding:5px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    
    background-color: #9FC54E;
}


#contenedorBasicoLocales{

	color:black;
	background:white;
	border: 10px solid white;
	margin: 0 auto;
	margin-top: 50px;	
	width: 810px;	
	position: relative;

#buttons {
margin: 10px 0 40px 0;
float: left;
width: 300px;
padding: 0;
font-size: 20px;
}
#button_left a {


border-radius:10px;
background: #9FC54E;
display: block;
width: 239px;
height: 60px;
text-decoration: none;
color: white;
outline: none;
cursor: pointer;
margin-bottom: 10px;
text-align:center;
padding: 0;
}
#button_left a:hover{


background: #2786C2;

>>>>>>> 45cbd42ea74a77f6897acb14521eec71cfb81493
}

#contenedorBasico{

	color:black;
	background:white;
	border: 10px solid white;
	margin: 0 auto;
	margin-top: 50px;	
	width: 850px;	
	position: relative;
}

#contenedorCentral
{
	background:white;
	border: 10px solid white;
    border-radius:10px;
	height: 350px;
	margin: 0 auto;
	margin-top: 50px;	
	width: 826px;	
	position: relative;
}
#contenedorCentralRegistro
{
    background:white;
    border: 10px solid white;
    border-radius:10px;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;   
    width: 826px;   
    position: relative;
}

#contenedor2
{

	background-image:  url(imagenes/futbol.png);
	display: inline-block;
	height:91%;  
    margin-top: 12px;   
	left:10px;
	right:0px;
	width: 472px;
	vertical-align: top;		
}

#contenedor1
{
    color: white;
	background: #1f211b;
	
    margin-left: 12px;   
    margin-top: 12px;
	display: inline-block;
	height:91%;
    left:10px;
	vertical-align: top;
	width: 324.48px;
}
#datosGeneralesPanel
{
    color: white;
    
    background: #1f211b;
    
    margin-left: 12px;   
    margin-top: 12px;
    display: inline-block;
    height:91%;
    left:10px;
    vertical-align: top;
    width: 500.48px;
}
#tamaul {
    width:200;

}
#datosOpcionesPanel
{
    color: white;
    
    display: inline-block;
    height:91%;  
    margin-top: 12px;   
    left:10px;
    right:0px;
    width: 300px;
    vertical-align: top;
}
#cont1
{
    background: #1f211b;
    
    margin-left: 80px;   
    margin-top: 60px;
    display: inline-block;
    height:60%;
    left:10px;
    vertical-align: top;
    width: 324.48px;
}
#cont2
{
    background: #1f211b;
    
    margin-left: 12px;   
    margin-top: 60px;
    display: inline-block;
    height:60%;
    left:10px;
    vertical-align: top;
    width: 324.48px;
}
#contenedor2 article
{
    color:white;
	border-radius: 0.5em;
	padding-right: 10px;
	padding-left: 10px;
	margin: 1em auto;
	width: 90%;
}

#contenedorFooter
{
	margin: 0 auto;
	width: 960px;
}

#derechosReservados
{

bottom: 1px;
font-size:0.75em;
margin-bottom: 0px;
margin: 3px auto;

position: absolute;
text-align: left;
}
#espacioInferior
{
    height: 90px;
}
#navLogin
{
	margin :0 auto;
    width:300px;

	
}
#navOpcionesPanel
{
    margin :0 auto;
    width:300px;

    
}
#navPrincipal
{
	padding: 21px;
    width:700px;
}

#tituloWeb 
{
	font-family: 'ChunkFiveRegular', Arial;
	-webkit-margin-after: 0.67em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-end: 0px;
	-webkit-margin-start: 0px;
	background-color: 00A701;
	background: -moz-linear-gradient(top, #00A701 , #2c2c2c);
	background: -webkit-gradient(linear, 0 0,  0 100%, from(#00A701),  to(#2c2c2c));
	border-radius: 0.5em;
	border-style: solid;
	border-width: 5px;
	color: white;
	display: block;
	float: left;
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
	padding-top: 10px;
	padding: 12px;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#tituloWeb:hover
{

	transform: rotate(355deg);
	-webkit-transform: rotate(355deg);
}
#prueba
{
	color:red;
	font-size:24px;
}


#designmodo .canvas {
    background: #8AAC42;
	border-radius:60px;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#designmodo .icon,
#designmodo .fbox {
    height: 44px;
    width: 207px;
}
#designmodo .icon {
    left:10px;
    top: 17px;
}
#designmodo .fbox * {
    float: left;
    position: static;
    text-indent: 0;
}
@font-face {
    font-family: 'anivers';
    src: url('http://www.ecsspert.com/play/css3-logos/fonts/anivers/anivers_regular_modo-webfont.eot');
    src: url('http://www.ecsspert.com/play/css3-logos/fonts/anivers/anivers_regular_modo-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/anivers/anivers_regular_modo-webfont.woff') format('woff'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/anivers/anivers_regular_modo-webfont.ttf') format('truetype'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/anivers/anivers_regular_modo-webfont.svg#DOCK11Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'olijo';
    src: url('http://www.ecsspert.com/play/css3-logos/fonts/olijo/olijo-bold_design-webfont.eot');
    src: url('http://www.ecsspert.com/play/css3-logos/fonts/olijo/olijo-bold_design-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/olijo/olijo-bold_design-webfont.woff') format('woff'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/olijo/olijo-bold_design-webfont.ttf') format('truetype'),
        url('http://www.ecsspert.com/play/css3-logos/fonts/olijo/olijo-bold_design-webfont.svg#DOCK11Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
#designmodo .design {
    color: #e0e0e0;
    font-family: 'olijo';
    font-size: 34px;
    line-height: 80p
}
#designmodo .mask {
    position: absolute;
    z-index: 100;
}
#designmodo .mask .design {
    color: #fff;
    -webkit-mask-image: -ms-linear-gradient(top, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
    -webkit-mask-image: -moz-linear-gradient(top, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
    -webkit-mask-image: -o-linear-gradient(top, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
    -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
}
#designmodo .modo {
    color: #af1a1a;
    font-family: 'anivers';
    font-size: 40px;
    line-height: 38px;
    margin-left: -8px;
}
#designmodo .mask .modo {
    color: #cf2e2e;
    -webkit-mask-image: -ms-linear-gradient(top, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 51%);
    -webkit-mask-image: -moz-linear-gradient(top, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 51%);
    -webkit-mask-image: -o-linear-gradient(top, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 51%);
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 51%);
    -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 51%);
}
/* general styles */
.canvas { 
    display: block;
    overflow: hidden;
    position: relative;
    top: 0px;
    text-indent:-9999px;
    z-index: 10;
}
.icon, .icon * {
    display: block;
    position: absolute;
}
.monitor,
.monitor .canvas {
    height: 70px;
    width: 207px;
}
.monitor {
    background: #000;
    border:11px solid #000;
    border-radius:60px;
    float:left;
    position:relative;
}
.monitor:before { /* shadow */
    box-shadow: 0 91px 5px rgba(0,0,0,0.2);
border-radius: 50%;
content: "#";
display: block;
height: 6px;
left: -0.7px;
position: absolute;
text-indent: -9999px;
width: 215px;



}
.monitor:after { /* shine */
    background: -ms-linear-gradient(top left, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(top left, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top left, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top left, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 100%);
    background: linear-gradient(top left, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 100%);
  border-radius: 20px 20px 0 0;
height: 70px;
content: "#";
display: block;
position: absolute;
right: -0.7px;
text-indent: -9999px;
top: 0.9px;
width: 279px;
z-index: 10;
}